<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">IPSSI Drug Market</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor03">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_content') }}">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_product_index') }}">Produits</a>
				</li>
				{% if is_granted("ROLE_ADMIN") %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_content') }}">Admin</a>
					</li>
										<li class="nav-item">
						<a class="nav-link" href="{{ path('app_user_show', {'id': app.user.id}) }}">Profile</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_logout') }}">Deconnexion</a>
					</li>
				{% endif %}
								{% if is_granted("ROLE_USER") %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_cart_index') }}">Mon Panier</a>
					</li>
										<li class="nav-item">
						<a class="nav-link" href="{{ path('app_user_show', {'id': app.user.id}) }}">Profile</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_logout') }}">Deconnexion</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
