{% extends 'base.html.twig' %}

{% block title %}Admin Index{% endblock %}

{% block body %}
<table class="table table-hover">
  <tbody>
<tr class="table-dark">
      <td><a class="nav-link" href="{{ path('app_content') }}">Revenir à l'accueil</a></td>
      <td><a class="nav-link" href="{{ path('app_admin_products') }}">Voir les produits</a></td>
      <td><a class="nav-link" href="{{ path('app_admin_articles') }}">Voir les articles</a></td>
      <td><a class="nav-link" href="{{ path('app_admin_category') }}">Voir les categories</a></td>
      <td><a class="nav-link" href="{{ path('app_admin_users') }}">Voir les utilisateurs</a></td>
    </tr>
      </tbody>
</table>

<h3>Nombre de produits: {{ products|length }}</h3>
<h3>Nombre de categories: {{ categories|length }}</h3>
<h3>Nombre d'articles:{{ article|length }}</h3>
<h3>Nombre d'utilisateurs: {{ users|length }}</h3>


{% endblock %}
