{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>product</h1>

    <table class="table">
        <tbody>
        <tr>
        <td>id: {{ product.id }}</td>
        </tr>
         <tr>
      <td>Nom: {{ product.title }}</td>
       </tr>
         <tr>
      <td>Prix: {{ product.price }}</td>
       </tr>
         <tr>
      <td>Categorie: {{ product.category.name }}</td>
       </tr>
         <tr>
      <td>Quantité {{ product.quantity }}</td>
       </tr>
         <tr>
      <td>Vendeur: {{ product.seller.email }}</td>
       </tr>
         <tr>
      <td>Publication annonce: {{ product.createdAt|date('d-m-Y') }}</td>
       </tr>
         <tr>
      <td>Provenance: {{ product.origin ?product.origin|join(', ') : '' }}</td>
       </tr>
         <tr>
        </tbody>
    </table>
 <a href="{{ path('app_cart_add', {'id': product.id}) }}"><button class="btn">Ajouter 1g au panier</button></a>
  <a href="{{ path('app_product_index') }}"><button class="btn">Retourner à la liste des produits</button></a>
 

{% endblock %}
