{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}

    <div class="container py-4 my-4 mx-auto d-flex flex-column">
    <div class="header">
        <div class="row r1">
            <div class="col-md-9 abc">
                <h1>{{ product.title }}</h1>
            </div>
        </div>
    </div>
    <div class="container-body mt-4">
        <div class="row r3">
            <div class="col-md-5 p-0 klo">
                <ul>
                    <li>{{ product.description }}</li>
                    <li>Provenance: {{ product.madeIn }}</li>
                    <li>Quantité en stock: {{ product.quantity }}</li>
                    <li>{{ product.price }} €/g</li>
                </ul>
            </div>
            <div class="col-md-7"> <img src="{{ asset('build/images/'~ product.image) }}" width="80%" height="80%"> </div>
        </div>
    </div>
    <div class="footer d-flex flex-column mt-5">
        <div class="row r4">
            <div class="col-md-2 myt "><button type="button" class="btn btn-outline-warning"><a href="#">Ajouter au panier</a></button></div>
        </div>
    </div>
</div>



  

    <a href="{{ path('app_product_index') }}">back to list</a>

    <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
