{% extends 'base.html.twig' %}

{% block title %}Product
{% endblock %}

{% block body %}

	<div class="container py-4 my-4 mx-auto d-flex flex-column">
		<div class="header">
			<div class="row r1">
				<div class="col-md-9 abc">
					<h1>{{ product.title }}</h1>
				</div>
			</div>
		</div>
		<div class="container-body mt-4">
			<div class="row r3">
				<div class="col-md-5 p-0 klo">
					<ul>
						<li>{{ product.description }}</li>
						<li>Provenance:
							{{ product.origin[0] }}</li>
						<li>Quantité en stock:
							{{ product.quantity }}</li>
						<li>{{ product.price }}
							€/g</li>
					</ul>
				</div>
				<div class="col-md-7">
					<img src="{{ asset('build/images/'~ product.image) }}" width="80%" height="80%">
				</div>
			</div>
		</div>
		{{ form_start(form, {'attr': {'class': 'mt-4 p-4 bg-light'}}) }}
		<div class="form-group">
			{{ form_label(form.quantity) }}
			{{ form_widget(form.quantity, {
            'attr': {
                'class': 'form-control ' ~ (form.quantity.vars.valid ? '' : 'is-invalid')
            }
        }) }}
			<div class="invalid-feedback">
				{{ form_errors(form.quantity) }}
			</div>
		</div>
		{{ form_widget(form.add, {'attr': {'class': 'btn btn-warning w-25'}}) }}
		{{ form_end(form) }}
	</div>


	<a href="{{ path('app_product_index') }}">back to list</a>

	<a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>

	{{ include('product/_delete_form.html.twig') }}
{% endblock %}
