{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <div class="container py-4 my-4 mx-auto d-flex flex-column">
    <div class="header">
        <div class="row r1">
            <div class="col-md-9 abc">
                <h1>{{ article.title }}</h1>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="row r1">
            <div class="col-md-9 abc">
                <h3>{{ article.description}}</h3>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="row r1">
            <div class="col-md-9 abc">
                <p>{{ article.content}}</p>
            </div>
        </div>
    </div>
    <div class="footer d-flex flex-column mt-5">
        <div class="row r4">
            <ul>
                <li>Date de publication: {{ article.createdAt ? article.createdAt|date('Y-m-d') : '' }}</li>
        </div>
    </div>


    <a href="{{ path('app_article_index') }}">back to list</a>

    <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
