{% extends 'base.html.twig' %}

{% block title %}User
{% endblock %}

{% block body %}
	<h1>User</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Prénom</th>
				<td>{{ user.firstName }}</td>
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ user.name }}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{ user.email }}</td>
			</tr>
			<tr>
				<th>Statut</th>
				<td>
					{% if user.status %}
						Actif
					{% else %}
						Désactivé</td>
                        {% endif %}
				</td>
			</tr>
			<tr>
				<th>Name</th>
				<td>{{ user.name }}</td>
			</tr>
			<tr>
				<th>Firstname</th>
				<td>{{ user.firstname }}</td>
			</tr>
            
		</tbody>
	</table>

	<a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
    <a href="{{ path('app_user_edit_password', {'id': user.id}) }}">Modifier le mot de passe</a>


{% endblock %}
