{% extends 'base.html.twig' %}

{% block title %}User
{% endblock %}

{% block body %}
	<h1>User</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Prénom</th>
				<td>{{ user.firstName }}</td>
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ user.name }}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{ user.email }}</td>
			</tr>
			<tr>
				<th>Statut</th>
				<td>
					{% if user.status %}
						Actif
					{% else %}
						Désactivé
				{% endif %}
                </td>
			</tr>
		</tbody>
	</table>
    <table>


	<th>Produits</th>
	{% for item in user.products %}
		<tr>
			<td>
				Nom: {{ item.title }}</td>
			<td>
				Prix: {{ item.price }}</td>
			<td>
				 Quantité {{ item.quantity }}</td>
			<td>
            <td>
				 Statut {{ item.status }}</td>
			<td>
				<a href="{{ path('app_product_edit', {'id': item.id}) }}"><button class="btn">Modifier</button></a>
			</td>
			<td>
				<form method="post" action="{{ path('app_product_delete', {'id': item.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
					<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
					<button class="btn">Supprimer</button>
				</form>

			</td>

		{% endfor %}
	</tr>
</tr></tbody></table>
<div>
{% if is_granted("ROLE_SELLER") %}
<a href="{{ path('app_product_new', {'id': user.id}) }}"><button class="btn">Nouveau Produit<button></a>
{% endif %}

<a href="{{ path('app_user_edit', {'id': user.id}) }}"><button class="btn">Modifier<button></a>
<a href="{{ path('app_user_edit_password', {'id': user.id}) }}"><button class="btn">Modifier le mot de passe<button></a>
</div>
{% endblock %}
